#main-card{
  background-color: rgba(238, 236, 236, 0.329);
  display: flex; flex-direction: column;
  width: 100%; align-items: center;
   height: fit-content;

   #top{
    display: flex; flex-direction: row;
    width: 100%; font-family: 'Roboto Condensed';
    justify-content: space-around; font-size: 18px;
    padding: 10px 0px 10px 0px; margin: 5px 0px 0px 0px;

      #img-button{
        border: none; padding: 0; display: flex;
        flex-direction: row; justify-content: stretch;
        width: 5rem; height: 5rem; border-radius: 50%; 
        background: none; 
        
        #card-avi{
          border-radius: 50%; height: 5rem; width: 5rem;
          border-width: 1px; border-style: solid; border-color: black;
          background-position: center; background-size: cover;
        }
        &:hover{
          cursor: pointer;
        }
      }
      #write-area{
        width: 75%; font-family: 'Roboto';
        height: fit-content; font-size: 20px; font-weight: 600;
      }
      #quil-image{
        height: fit-content; width: 100%;
        margin-top: 1rem; object-fit: fill;
      }
      #quil-video{
        height: fit-content; width: 100%;
        margin-top: 1rem; object-fit: fill;
      }
      .icon-button{
        width: fit-content; height: fit-content;
        background: none; border: none;
      }.icon-button:hover{
          cursor: pointer; color: rgb(0, 122, 0);
      }
  }

  #bottom{
    display: flex; flex-direction: row;
    width: 100%; font-family: 'Roboto';
    justify-content: space-between;
    padding: 10px 0px 10px 0px;

      #userhandle{
        width: fit-content; background-color: rgb(255, 253, 253);
        margin: 0px 0px 0px 10px; padding: 5px 10px 0px 6px;
        border-width: 1px; border-style: solid; border-color: black;
        border-radius: 6px; height: 1.5rem;
        }
      #card-extras{
          width: 45%; background-color: rgb(255, 253, 253);
          margin-right: 10px; border-radius: 6px;
          padding: 3px; height: 1.5rem;
          border-width: 1px; border-style: solid; border-color: black;
          display: flex; flex-direction: row; align-items: center; overflow: hidden;
          justify-content: space-between;
          #card-extras-buttons{
            display: flex; flex-direction: row;
            align-items: center; gap: 10px;
          }
          span{
            margin-right: 10px;
          }
      }
      [type = button]{
        background: none; border: none; 
        width: 2rem; height: 2rem;
        &:hover{
          cursor: pointer;
        }
      }
  }
}
#popup-delete{
  height: 2rem; width: 8rem; font-size: 17px;
  font-family: 'Roboto condensed'; border-radius: 6px;
  background: white;
}
#popup-delete:hover{
  cursor: pointer; color: red; font-weight: bold;
}