#main-sign{
    display: flex; flex-direction: column;
    align-items: center;
}
#content{
    margin-top: 10%;
    width: 60%; position: relative; bottom: 20%;
    display: flex; flex-direction: row; justify-content: space-evenly;
}
#signIn-form{
    display: flex; flex-direction: column;
    
}
h3{
    font-family: 'Roboto Condensed';
    font-size: xx-large;
}
#signUp-form{
    display: flex; flex-direction: column;
}
.sign-input{
    margin: 5px 0px 5px 0px; border-radius: 4px 4px 0px 0px;
    height: 2.5rem; width: 23rem; border-right: none;
    border-top: none; border-left: none; font-size: 18px;
    background-color: rgb(250, 248, 248);
    border-color: black; font-family: 'Roboto';
}.sign-input:focus{
    outline: none; background-color: rgb(211, 209, 209);
    color: black; font-weight: bolder;
}
.sign-button{
    width: 50%; position: relative; font-family: 'Roboto Condensed';
    left: 25%; margin: 6px 0px 10px 0px; font-size: large; 
    border-color: white; color: white; background-color: black;
    border-radius: 6px; padding: 6px; border-color: black;
}.sign-button:hover{
    background-color: white; color: black; 
    cursor: pointer; border-color: black;
}
.sign-google{
    margin: 0px 0px 0px 5px; font-family: 'Roboto Condensed';
    font-size: large; background-color: rgb(55, 168, 212);
    border: 2px solid transparent; border-radius: 6px;
    padding: 5px;
}.sign-google:hover{
    background-color: white; color: black; 
    cursor: pointer; border-color: black;
    border: 2px solid black; padding: 5px;
}