#main-card{
    background-color: rgb(238, 236, 236);
    display: flex; flex-direction: column;
    width: 100%; align-items: center;
     height: fit-content;
}
#top{
    display: flex; flex-direction: row;
    width: 100%; font-family: 'Roboto Condensed';
    justify-content: space-around; font-size: 18px;
    padding: 10px 0px 10px 0px; margin: 5px 0px 0px 0px;
}
#bottom{
    display: flex; flex-direction: row;
    width: 100%; font-family: 'Roboto';
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}
#card-avi{
    width: 5rem; height: 5rem; border-radius: 50%;
    border-width: 1px; border-style: solid; border-color: black;
    background-position: center; background-size: cover;
}
#write-area{
    width: 75%; overflow: hidden; 
    height: 5.5rem;
}
#userhandle{
    width: fit-content; background-color: rgb(255, 253, 253);
    margin: 0px 0px 0px 10px; padding: 5px 10px 0px 6px;
    border-width: 1px; border-style: solid; border-color: black;
    border-radius: 6px; height: 1.5rem;
}
#card-extras{
    width: 36%; background-color: rgb(255, 253, 253);
    margin-right: 10px; border-radius: 6px;
    padding: 3px; height: 1.5rem;
    border-width: 1px; border-style: solid; border-color: black;
    display: flex; flex-direction: row; align-items: center; overflow: hidden;
    justify-content: space-between;
}
#card-extras-buttons{
    display: flex; flex-direction: row;
    align-items: center; gap: 1px;
}
.icon-button{
    width: fit-content; height: fit-content;
    background: none; border: none;
}.icon-button:hover{
    cursor: pointer; color: rgb(0, 122, 0);
}
[type = radio]{
    opacity: 0; width: 0; height: 0;
}
[type = radio]:focus + .icons-like {
    color: green;
}
[type = radio]:hover + .icons {
    cursor: pointer;
}
[type = radio]:focus + .icons-unlike {
    color: red;
}