@import '../variables/variable.scss';

#main-user-profile{
  display: flex; flex-direction: column;
  position: fixed; width: 100%; height: 100%;
  
  #profile-header{
      display: flex; flex-direction: row;
      padding: 1rem 0rem 1rem 0rem; height: 10%;
      width:100%; height: 5%; align-items: center;
      justify-content:space-between;
      box-shadow: 0px 0px 5px 2px rgb(212, 211, 211);
      padding-bottom: 10px;
      
      #profile-logo{
        margin-left: 1rem;
        width: 2rem;
      }
      
      .signout{
        @include signButton; display: flex;
        flex-direction: row; align-items: center;
        width: 7rem; height: 2rem; 
        justify-content: space-around;
        margin-right: 1rem; font-size: 20px;
        
        &:hover{
          cursor: pointer; background-color: rgb(221, 44, 44);
          border: none; font-size: 20px;
        }
      }
  };

  #upper-half{
      height: 30%; width: 100%; 
    
      #profile-card{
        display: flex;
        flex-direction: row; gap: 1rem; width: fit-content; padding: 20px; margin-top: 1rem;
        
        #avi{
          height: 8rem; width: 8rem;
          border-radius: 50%; border: none;
          background: none; overflow: hidden;
          background-size: cover; background-position: center;
          &:focus, :hover{
            outline: none;
            cursor: pointer;
          }
        }

        #profile-avi{
          width: 7.2rem; height: 7.2rem; background-size: cover;
            border-radius: 50%; background-position: center;
            box-shadow: 0px 0px 5px 1px rgb(165, 163, 163);
        }
        
      }

      #credentials{
        display: flex; flex-direction: column;
        padding-top: 1rem;
        
        .credentials-item{
          margin-top: -10px; font-family: 'Roboto';
          font-size: 18px;
        }
      }
      
      
    };

  #lower-half{
        height: 65%; width: 100%;
        display: flex; flex-direction: column;
        align-items: center;
        
        #middle-pane{
            @include middlePane;
        }
    
    }
  }
  #change-avi{
    background-color: white; width: fit-content; position: fixed;
    display: flex; flex-direction: column; overflow: hidden; 
    height: fit-content; padding: 1rem 10px 0px 10px; gap:10px;
    border-radius: 6px; box-shadow: 0px 0px 5px 1px rgb(187, 186, 186);
    align-items: center;
  
  .change-avi{
    font-family: 'Roboto Condensed'; font-size: 15px;
    width: fit-content;
    
    &:hover{
      cursor: pointer;
    }
  }

  .upload-button{
    width: 10rem;
    color: white; background-color: black;
    border: transparent; border-radius: 6px; height: 1.7rem;
    
    &:hover{
      border: 2px solid black; background-color: white; color: black;
      cursor: pointer;
    }
  }
  
  #progress{
    margin-top: 0.5rem; font-family: 'roboto condensed';
  }
}